/**
	Authors: Tom Schoon, Kevin Schlangen and Nevel Senden
	Date: 26-03-2020
	Project: AMO Project 9: TakeAway
**/

body{
	background: whitesmoke;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 89, 122);
    position: sticky;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
	float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #B9D5FD;
}

footer{
    display: block;
    background-color: rgb(48, 89, 122);
    text-align: center;
    border: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: ;
    margin-left: 150px;
    margin-right: 150px;
}
